:root {
  --color-designer: #3498db;
  --color-dev: #27ae60;
  --color-background: #f4f4f4;
  --color-text: #333;
  --cursor-dev: url('images/mouse-pointer-dev.png'), auto;
  --cursor-designer: url('images/mouse-pointer-designer.png'), auto;
}


/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: var(--cursor-designer);
}

/* body {
  background: linear-gradient(var(--color-designer), var(--color-dev));
} */


/* Pointer */
h1 {
  cursor: var(--cursor-dev);
}

a {
  cursor: var(--cursor-dev);
  text-decoration: none;
}

#contact img {
  cursor: var(--cursor-dev);
}

/* Typography */
body,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main h2,
section h3 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: var(--cursor-designer);
}

/* Layout Container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

/* Header Styles */
header {
  padding: 16px 0;
  background-color: var(--color-designer);
  border: 5px solid black;
  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav a {
  color: #ecf0f1;
  background-color: var(--color-designer);
  padding: 2px 2px;
  border: 3px solid black;
}

header h2 {
  font-size: 18px;
}

/* Main Content */
main {
  padding: 24px 0 50px;
}

#about .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section {
  margin-top: 50px;
}

/* Main Headings */
main h2,
section h3 {
  margin-bottom: 20px;
  padding-top: 8px;
  color: var(--color-designer);
}

main h2 {
  margin-bottom: 40px;
  font-size: 26px;
  color: var(--color-designer);
  border-bottom: 2px solid var(--color-designer);
}

main h2.dev {
  color: var(--color-dev);
  border-bottom: 2px solid var(--color-dev);
}

main p {
  margin-bottom: 16px;
  text-align: justify;
  cursor: var(--cursor-dev)
}

/* About */
#omar {
  height: 450px;
  margin-right: 32px;
  /* border: 10px solid black; */
}

.museum-frame {
  text-align: center;
  margin: auto;
  width: fit-content;
}

#about p {
  line-height: 1.5;
}

/* .decorated-frame {
  border: 15px solid #d4af37;
  border-radius: 10px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 
              inset 0 5px 10px rgba(255, 255, 255, 0.5);
  padding: 10px;
  background: linear-gradient(145deg, var(--color-designer), var(--color-dev));
} */

.museum-caption {
  margin-top: 10px;
  padding: 10px;
  font-family: san-serif;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: var(--color-dev);
  border: 5px solid black;
  /* border-radius: 5px; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  line-height: 1.5;
}

#developer {
  background-color: var(--color-dev);
  color: #ecf0f1;
  padding: 2px 2px;
  border: 3px solid black;
}

#designer {
  background-color: var(--color-designer);
  color: #ecf0f1;
  padding: 2px 2px;
  border: 3px solid black;
}

/* Projects Section */

#projects a {
  color: white;
  background-color: var(--color-dev);
  padding: 2px 2px;
  border: 3px solid black;
}

/* Skills Section */

#skills a {
  color: white;
  background-color: var(--color-designer);
  padding: 2px 2px;
  border: 3px solid black;
}

/* Contact Section */
#contact .container {
  display: block;
}

#contact #cataratas {
  height: 240px;
  /* border: 5px solid black; */
}

.contact-methods {
  display: flex;
  justify-content: space-around;
}

/* Social Links */
.social-links img {
  height: 24px;
}

.social-links li {
  display: inline;
  margin-right: 8px;
}

/* Footer Styles */
footer {
  background-color: var(--color-dev);
  border: 5px solid black;
  color: #ecf0f1;
  padding: 16px 0;
  cursor: var(--cursor-dev);
}

/* footer p {
  text-align: center;
} */

/* Media Queries */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }

  header nav {
    margin-top: 16px;
  }

  header h1 {
    font-size: 30px;
  }

  header h2 {
    display: none;
  }

  main {
    padding: 0 0 50px;
  }

  main .container {
    flex-direction: column;
  }

  #omar {
    height: 400px;
    max-width: 100%;
    margin-right: 0;
    /* margin-bottom: 24px; */
  }

  .contact-methods {
    flex-direction: column;
  }

  .contact-methods > div {
    margin-bottom: 32px;
  }
}

@media (max-width: 911px) and (min-width: 769px) {
  #omar {
    height: 350px;
  }

  header nav span{
    display: block;
    margin: 20px;
    text-align: center;
  }

  header h2 {
    display: none;
  }

  header h1 span {
    display: block;
    text-align: center;
  }

  header .container {
    display: flex;
    justify-content: space-around;
  }
  
  main {
    padding: 0 0 50px;
  }

  .museum-caption {
    max-width: 250px;
  }

}

@media (max-width: 1024px) and (min-width: 912px) {
  #omar {
    height: 350px;
  }

  main {
    padding: 0 0 50px;
  }

  .museum-caption {
    max-width: 250px;
  }

  header h2 {
    font-size: 13px;
  }

}

